
<h4 id="tablesCaption" style="caption-side:top" class="text-center text-capitalize">{{ tagName }}</h4>

<div id="tablesContainer">

    <table id="table1" class="col-3 table table-striped table-bordered" style="width: 20%">
        <thead>
          <tr>
            <th>TimeStamps</th>
          </tr>
        </thead>

    </table>

    <table id="table2" class="col-3 table table-striped table-bordered" style="width: 20%">
      <thead>
      <tr>
         <th>Value</th>
      </tr>
      </thead>

    </table>

    <table id="table3" class="col-3 table table-striped table-bordered" style="width: 20%">
      <thead>
      <tr>
        <th>LCL</th>
      </tr>
      </thead>

    </table>

    <table id="table4" class="col-3 table table-striped table-bordered" style="width: 20%">
      <thead>
      <tr>
        <th>MEAN</th>
      </tr>
      </thead>

    </table>

    <table id="table5" class="col-3 table table-striped table-bordered" style="width: 20%">
      <thead>
      <tr>
        <th>UCL</th>
      </tr>
      </thead>

    </table>

</div>
