
<!--<table id="table" class="col-3 table table-striped table-bordered" >-->
  <!--<caption id="tableCaption" style="caption-side:top" class="text-center text-capitalize">{{ tagName }}</caption>-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>TimeStamp</th> <th>Value</th> <th>LCL</th> <th>MEAN</th> <th>UCL</th>-->
  <!--</tr>-->
  <!--</thead>-->

<!--</table>-->


<div id="tablesContainer">

    <table id="table1" class="col-3 table table-striped table-bordered" >
      <caption id="tableCaption" style="caption-side:top" class="text-center text-capitalize">{{ tagName }}</caption>
        <thead>
          <tr>
            <th>TimeStamp</th>
          </tr>
        </thead>

    </table>

    <table id="table2" class="col-3 table table-striped table-bordered" >
      <thead>
      <tr>
         <th>Value</th>
      </tr>
      </thead>

    </table>

    <table id="table3" class="col-3 table table-striped table-bordered" >
      <thead>
      <tr>
        <th>LCL</th>
      </tr>
      </thead>

    </table>

    <table id="table4" class="col-3 table table-striped table-bordered" >
      <thead>
      <tr>
        <th>MEAN</th>
      </tr>
      </thead>

    </table>

    <table id="table5" class="col-3 table table-striped table-bordered" >
      <thead>
      <tr>
        <th>UCL</th>
      </tr>
      </thead>

    </table>

</div>
