<div class="mt-2">

  <a id="" routerLink="/project" class="switcher-button my-3 btn btn-info">BACK</a>
  <a class="switcher-button btn btn-info ml-5" routerLink="/bar-chart">BAR CHART</a> <br> <hr>

  <div id="tagsList">

    <ol>
      <li *ngFor="let tag of tagsList">{{ tag }}</li>
    </ol>

  </div>


  <div style="display: block">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
    </canvas>
  </div>




</div>
